@page

@model Index



    <h1>Movies Web Application</h1>

<p>Welcome to your Movies Web Application account!</p>
<p>Take advantage of our services that are available in the navigation bar.</p>

    
  
    
    














