@page

@model IndexModel
@using aspnet_core_dotnet_core.Data;
@using System.Collections;
@{
    ViewData["Title"] = "Home Page - ASP.NET Core";
    if (Model.movies == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>Movies</h1>

        <p>This component demonstrates fetching data from a service.</p>

        <div class="row searchactionrow">
            <div class="col-md-6">
                <div class="input-group">
                    <button class="btn btn-default"></button>

                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <button class="btn btn-primary" onclick="search()">Search</button>
              
                    

                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.movies)
                {
                    <tr>
                        <td>@movie.movieId</td>
                        <td>@movie.movieTitle</td>
                        <td>
                            <a class="nav-link" href="viewmovie/{@movie.movieYear}">
                                @movie.movieYear
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
}

<script type="text/javascript">
    function search() {
        alert("I DONT KNOW HOW TO CALL A METHOD FROM INDEX.CSHTML.CS MAYBE THERE IS ANOTHER WAY");
    }
</script>









