@page 
@model StatisticsModel

@{
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</head>

<body>

    <div class="row">
        <div class="col-lg-1">
            <form asp-page-handler="votes" method="post">
                <button class="btn btn-secondary">Most voted movies</button>
            </form>
        </div>
        <div class="col-lg-1">
            <form asp-page-handler="rating" method="post">
                <button class="btn btn-secondary">Most rated movies</button>
            </form>
        </div>
        <div class="col-lg-1">
            <form asp-page-handler="view" method="post">
                <button class="btn btn-secondary">View</button>
            </form>
        </div>
    </div>
  

    <form method="post">
        <div>@Html.Raw(Model.ChartJson)</div>
        <br />
    </form>
</body>
</html>




<script typdse="text/javascript" src="/Scripts/fusioncharts/fusioncharts.js"></script>